.heading
{
    width: 60%;
    text-align: left;
    font-size: 40px; 
}

.heading button
{
 float: right;
 border: 1px solid white;
}

#start, #status, #restart
{
    font-size: 22px;
}

.modal-dialog
{
    width: 70%;
}

.modal-body
{
    text-align: left;
    font-size: 20px;
}

h4{
    background-color: grey;
    color:aliceblue;
    line-height: 2;
}

canvas
{
    border:3px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white;
}

body
{
    background-image:cover;
}